.Home-container{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.courses-table{
    width: 1000px;
    font-size: larger;
    
}
.courses-table thead th{
    padding: 20px;
}

.courses-table tbody tr td{
    padding: 20px;
}

.edit{
    background-color: green;
    width: 30%;
    margin: 5px;
    padding: 5px;
    border: transparent;
    border-radius: 5px;
    color: white;
    transition: all ease 400ms;
    cursor: pointer;
}
.edit:hover{
    color: green;
    background-color: transparent;
    border: 1px solid green;
}
.delete{
    background-color: red;
    width: 30%;
    margin: 5px;
    padding: 5px;
    border: transparent;
    border-radius: 5px;
    color: white;
    transition: all ease 400ms;
    cursor: pointer;
}
.delete:hover{
    color: red;
    background-color: transparent;
    border: 1px solid red;
}