.navbar{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: larger;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li button{
    padding: 5px;
    background-color: aquamarine;
    color: black;
    border-radius: 10px;
    border: transparent;
    font-size: larger;
}